.homeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    height: 40px;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: rgb(66, 103, 178);
}

.homeHeader__logo {
    height : 45px;
    object-fit: contain;
    margin-top: 4.3px;
    margin-left: 4.3px;
}

.homeHeader__inputSearch {
    display: flex;
    align-items: center;
    width: 40%;
    float: left;
}

.homeHeader > .homeHeader__inputSearch > input {
    width: 400px;
    height: 19px;
    margin-left: -5%;
}

.homeHeader__inputButton {
    width: 50px !important;
    background-color: #f5f6f7;
    color: gray;
    border: none;
}

.homeHeader__input > input {
    flex: 1;
    border: none;
}

section .homeheader__avatar {
    height: 20px !important;
    width: 30px !important;
    margin-right: 8px;
}

.homeHeader__icons section {
    display: flex;
    align-items: center;
}

.homeHeader__icons {
    display: flex;
    align-items: center;
}

.homeHeader__name {
    display: flex;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 28px;
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
}

.homeHeader__dash {
    margin-right: 4px;
    margin-left: 5px;
    opacity: 0.1;
}

.homeHeader section:hover {
    background-color: #144097;
    cursor: pointer;
}

.homeHeader section {
    transition: 0.2s;
}

.homeHeader section button {
    margin-right: 4px;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    transition: 0.2s;
}

.homeHeader section button:hover {
    background-color: #144097;
    cursor: pointer;
}

.homeHeader section .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.homeHeader section .dropdown-content a {
    color: black;
    text-decoration: none;
    display :block;
}


.dropdown-content {
    display: none;
    position : absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -130px;
}

.dropdown-content a {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #4267b2;
}

.dropdown-content a:hover {
    margin-top: 10px;
    margin-bottom : 10px;
    background-color: #4267b2;
}

.dropdown-content a:hover p {
    color: white;
}

.dropdown-content a > p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown__hr {
    color: gray;
    line-height: 1px;
    opacity: 0.3;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 5px;
    margin-top: -3px;
}